body {
	width: 90%;
	margin: auto;
	background-color: #000000;
	background-image: url(background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

header {
		width: 100%;
		margin: auto;
		text-align: center;
}

header figure {
	margin: auto;
}

header img {
	max-width: 100%;
	margin: auto;
}

main {
	background: #ffffff;
	margin: auto;
	padding: 15px;
	opacity: 0.75;
}

h1 {
	font-family: 'Crete Round', serif;
	font-weight: bold;
	text-align: center;
}

footer {
	margin: 10px;
	width: 100%;
	text-align: right;
	font-size: 8px;
	color: #ffffff;
}

@media screen and (min-width: 1024px)
{

	body {
		background-position: 50% -175px;
		background-size: cover;
	}

	main {
		max-width: 1024px;
	}

	p {
		font-family: 'Imprima', sans-serif;
	}

	footer {
		max-width: 1024px;
	}
}

@media screen and (max-width: 1023px)
{
	body {
	    background-position: -250px -175px; 
	}

	main {
		max-width: 640px;
	}

	p {
		font-family: 'Imprima', sans-serif;
	}

	footer {
		max-width: 640px;
	}
}

@media screen and (max-width: 640px)
{
	body {
	    background-position: -250px -175px; 
	}

	main {
		max-width: 320px;
	}

	p {
		font-family: 'Imprima', sans-serif;
	}

	footer {
		max-width: 320px;
	}
}